# Mengabaikan file environment di semua folder
.env
**/.env

# Mengabaikan virtual environment
venv/
**/venv/
.venv/
**/.venv/
env/
**/env/
ENV/
**/ENV/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Spotify & YouTube Music auth
headers_auth.json
browser.json
.spotify_token.json

# LangChain & OpenAI cache/token (optional)
.cache/
*.log

# Streamlit
.streamlit/
